.container {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    margin: 10px;
    width: 500px;
    display: flex;
    justify-content: space-between;
  }
  
  .btnContainer {
    display: flex;
    justify-content: center;
  }

  .doneBtn {
    background-color: #9c27b0;
    color: #fbecfc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
  }

  .editBtn {
    background-color: #fbecfc;
    color: #9c27b0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid #9c27b0;
  }